<link rel="stylesheet" type="text/css" href="/assets/css/openDelivery.css">
<div class="cesta">
    <div class="cesta-header">
        <h5>Todos os Pedidos</h5>
    </div>
    <div class="cesta-body">
        <p id="lista-cesta">

        </p>
        <p id="preco-total">
            Total <span style="float: right">R$ 0,00</span>
        </p>
    </div>
</div>
<script src="/assets/scripts/adicionarCesta.js"></script>