<link rel="stylesheet" type="text/css" href="/assets/css/navbarStyle.css">
<script src='https://kit.fontawesome.com/a076d05399.js'></script>

<nav class="navbar navbar-expand-lg" style="background-color:#50a773;">
  <a class="navbar-brand" href="/foodapp">
    <img src="/assets/img/icons/hamburger.png" width="50" alt="FoodApp">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto menu">
      <li class="nav-item">
        <a class="nav-link" href="/foodapp">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/foodapp/cadastro">Cadastro</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/foodapp/comidas">Comidas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/foodapp/categorias">Categorias</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto menu">
      <li class="nav-item">
        <a href="/foodapp/carrinho" class="nav-link">
          <i class="fas fa-cart-plus" style="font-size: 35px"></i>
          <span class="badge badge-danger"></span>
        </a>
      </li>
    </ul>
  </div>
</nav>