<link rel="stylesheet" type="text/css" href="/assets/css/navbarStyle.css">

<nav class="navbar navbar-expand-lg" style="background-color:#50a773;">
  <a class="navbar-brand" href="/foodapp">
    <img src="/assets/img/icons/hamburger.png" width="50" alt="FoodApp">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto menu">
      <li class="nav-item">
        <a class="nav-link" href="/foodapp">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/foodapp/cadastro">Cadastro</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/foodapp/comidas">Comidas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/foodapp/categorias">Categorias</a>
      </li>
    </ul>
  </div>
</nav>

<!-- {{#flashes}}
  {{#success}}
    <div class="alert alert-success alert-dismissible">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>{{.}}</strong>
    </div>
  {{/success}}
  {{#error}}
    <div class="alert alert-danger alert-dismissible">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      {{.}}
    </div>
  {{/error}}
  {{#info}}
    <div class="alert alert-info alert-dismissible">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      {{.}}
    </div>
  {{/info}}
{{/flashes}} -->