<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/homeStyle.css">
</head>
<body>
    {{>navbar}}
    <div class="container">
        <div class="form-inline busca">
            <img src="/assets/img/icons/search.png">
            <input class="form-control" name="busca" id="campoBusca" type="search" placeholder="Pesquise por prato" size="34" onkeyup="confirmar(event)">
        </div>
        <h1>Página Home</h1>
        <h4 class="mb-3">Categorias</h4>
                        
        <figure>
            <a href="/foodapp/categorias/salgado" class="categoria">
                <img src="/assets/img/salgados.jpeg" class="imgsCategorias"/>
                <figcaption>Salgados</figcaption>
            </a>
        </figure>
        

        <figure>
            <a href="/foodapp/categorias/bebida" class="categoria">
                <img src="/assets/img/bebidas2.jpg" class="imgsCategorias"/>
                <figcaption>Bebidas</figcaption>
            </a>
        </figure>

        <figure>
            <a href="/foodapp/categorias/doce" class="categoria">
                <img src="/assets/img/doces2.jpg" class="imgsCategorias"/>
                <figcaption>Doces</figcaption>
            </a>
        </figure>

        <figure>
            <a href="/foodapp/categorias/pizza" class="categoria">
                <img src="/assets/img/pizzas.jpg" class="imgsCategorias"/>
                <figcaption>Pizzas</figcaption>
            </a>
        </figure>

        <figure>
            <a href="/foodapp/categorias/lanche" class="categoria">
                <img src="/assets/img/lanches2.jpg" class="imgsCategorias"/>
                <figcaption>Lanches</figcaption>
            </a>
        </figure>

        <figure>
            <a href="/foodapp/categorias/acai" class="categoria">
                <img src="/assets/img/acai2.jpg" class="imgsCategorias"/>
                <figcaption>Açaí</figcaption>
            </a>
        </figure>

        <figure>
            <a href="/foodapp/categorias/japonesa" class="categoria">
                <img src="/assets/img/japonesa.jpg" class="imgsCategorias"/>
                <figcaption>Japonesa</figcaption>
            </a>
        </figure>

        <figure>
            <a href="/foodapp/categorias/marmita" class="categoria">
                <img src="/assets/img/marmita.jpg" class="imgsCategorias"/>
                <figcaption>Marmita</figcaption>
            </a>
        </figure>

        <figure>
            <a href="/foodapp/categorias/sorvete" class="categoria">
                <img src="/assets/img/sorvete.jpg" class="imgsCategorias"/>
                <figcaption>Sorvetes</figcaption>
            </a>
        </figure>

        <figure>
            <a href="/foodapp/categorias/brasileira" class="categoria">
                <img src="/assets/img/brasileira.jpg" class="imgsCategorias"/>
                <figcaption>Brasileira</figcaption>
            </a>
        </figure>

        <br/>

        <div class="container_foods">
            {{#result}}
            <div class="card" style="width: 302px;">
                {{#imagem}}
                    <img src="/media/{{imagem}}" style="width: 100%"/>
                {{/imagem}}
                <div class="card-body pt-2">
                    <h4 class="card-title">{{nome}}</h4>
                    <p class="card-text">{{descricao}}</p>
                    <strong><span class="preco">R$ {{preco}}</span></strong>

                    <br/><br/>
                    
                    <a href="/foodapp/apagar/{{id}}">
                        <button class="btn btn-danger">Apagar</button>
                    </a>
                    <a href="/foodapp/editar/{{id}}">
                        <button class="btn btn-success">Atualizar</button>
                    </a>
                </div>
            </div>
            {{/result}}
            {{^result}}
                <h4 class="mt-2">Nenhum prato encontrado para essa pesquisa ({{texto}}) :( !</h4>
            {{/result}}
        </div>
    </div>
    <footer class="rodape">
        &copy; Copyright 2020 - Eleson Souza - Todos os direitos reservados.
    </footer>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="/assets/scripts/enterSubmit.js"></script>
</body>
</html>